<div class="container row">
  <div class="col-md-5 panel panel-default">
    <div class="panel-body">
      BLOCITOFF DESCRIPTION
    </div>
  </div>

  <div class="col-md-6 col-md-offset-1 panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">Create an account!</h3>
    </div>
    <div class="panel-body">
      <form method="post">
          <input name="username" type="text" placeholder="Username" required />
          <input name="email" type="email" placeholder="Email" required/>
          <input name="password" type="text" placeholder="Password" required />
          <button class="btn btn-default" type="submit">Create Account!</button>
      </form>
    </div>
  </div>
</div>

