<div class="header">
        <div class="logo">
          <h3>Blocitoff</h3>
        </div>
        <div class="signin">
          <form action="/login" method="post">
            <input name="username" type="text" placeholder="Username" required />
            <input name="password" type="text" placeholder="Password" required />
            <button class="btn btn-default" type="submit" value="Log In">Sign In</button>
          <form>
        <!--<div class="noaccount">
          <p>We don't recognize this username and password.  Please register with the form below.</p>
        </div>-->
        </div>
</div>


<div class="container row">
    <div id="description" class="col-md-5">
    <h3>Self-Destructing Tasks</h3>
    <p>With Blocitoff, it's a race to get those pesky tasks done!  Create a free account and then type what you need to get done.  If you don't finish them by 7 days, they will be destroyed.</p>
    </div>

  <div id="signup" class="col-md-6 col-md-offset-1 panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">Get Started!</h3>
    </div>
    <div class="panel-body">
      <form>
          <div class="inputblock">
            <label>Username:</label> 
            <input ng-model="form.username" name="username" required />
          </div>
          <div class="inputblock">
            <label>Email:</label> 
            <input ng-model="form.email" name="email" required/>
          </div>
          <div class="inputblock">
            <label>Password:</label> 
            <input ng-model="form.password" name="password" required />
          </div>
        <button ng-click="addUser()" class="btn btn-default" type="submit">Sign Up!</button>
      </form>
      <!--<div class="registered" ng-show="addUser()">
        <h4>Registered!  Sign into your account using the form above</h4>
      </div>-->
    </div>
  </div>
</div>

