<div class="header">
  <div class="logo">
    <h3 class="navbar-text">Blocitoff</h3>
    <p class="navbar-text">Signed in as {{user}}</p>
  </div>
  <div class="login">
    <form>
      <button class="btn btn-default" data-ng-click="logout()">Sign Out</button>
    <form>
  </div>
</div>

<div class="container col-md-12">
  <div class="row addtask">
    <form name="task_form">
      <input data-ng-model="form.task" type="text" name="task" placeholder="Type Task Here!" class="addtaskinput"/>
      <button class="addtaskbutton btn btn-default" data-ng-click="addToDo()">Add to List!</button>
    </form>
  </div>

  <div class="row list-group">
    <div class="list-group-item ngFade" ng-repeat="todo in todos | filter:{'status':'current'}">
        <div class="taskcontainer">
          <h4>{{ todo.task }}</h4>
          <p class="text-muted">{{ todo.date }} day(s) left!</p>
        </div>
        <div class="taskcontainer">
          <span ng-click="archiveToDo(todo)" class="glyphicon glyphicon-ok"></span>
        </div>
    </div>
  </div>
</div>
